<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        Login
    </title>
</head>
<body>
    <div>
        <form method="post" action="">
            {% csrf_token %}
            <div>
                <label for="username">UserName</label>
                <div>
                    {{ form.username }}
                </div>
                
            </div>
            <div>
                <label for="password">Password</label>
                <div>
                    {{ form.password }}
                </div>
            </div>
            <div>
                <button type="submit">Log in</button>
            </div>
        </form>
        <div>
            <a href="{% url 'signup' %}">Don't have an account</a>
        </div>
    </div>
</body>
</html>